
    section {
        
        overflow:auto;
        h4 {
            text-align: center;
            color: $purple;
            font-size: 40px;
            font-weight: 900;
            font-family:'StagSans-Semibold';
            margin:40px;
            
        }

        

        

       
    }

