section.teamMembers {
    padding: 0 40px;

    .teamMembersInner {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        overflow: hidden;

        .teamMember {
            background-color: $purple;
            position: relative;
            color: #FFFFFF;
            background-size: cover;
            background-position: center center;
            margin-bottom: 40px;
            width: calc(((100vw - 90px) / 3) - 33px);
            height: calc(((100vw - 90px) / 3) - 33px);
            max-width: 506px;
            max-height: 506px;
            display: inline-block;
            float: left;
            overflow: hidden;

            &:nth-child(3n+2) {
                margin: 0 40px;
            }

            .teamMemberOverlay {
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba($purple,0.7);
                //padding: 20px;
                width: calc(100%);
                height: 100%;
                text-align: center;
                @include transition($t1);
                @include transform(translateY(100%));
                //display: flex;
                align-items: center;
                //overflow: hidden;
                .teamMemberNameTitle {
                    @include transform(translateY(-100%));
                    padding: 20px;
                    width: calc(100% - 40px);
                    background-color: $purple;
                    @include transition($t1);
                    //float: left;
                    .teamMemberName {
                        font-family: 'StagSans-Medium';
                    }

                    .teamMemberTitle {
                        font-family: 'StagSans-Light';
                    }
                }

                .teamMemberInfo {
                    padding: 20px;

                    .teamMemberBio {
                        font-family: 'StagSans-Light';
                        width: 100%;
                        max-height: 60%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 20px 0;

                        p {
                            margin: 0px 0px 0px 0px;
                            color: #FFFFFF;
                            font-size: 16px;
                            line-height: 21px;
                            a{
                                color:#FFFFFF;
                                text-decoration:underline;
                            }
                        }
                    }

                    .readMore {
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.open, &:hover {
                .teamMemberOverlay {
                    @include transform(translateY(0));

                    .teamMemberNameTitle {
                        @include transform(translateY(0));
                    }
                }
            }
        }
    }
}
